<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_PATTERN" value="%d{YYYY-MM-dd HH:mm:ss.SSS} - %p %c{0}:%L - %m%n" />

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${LOG_PATTERN}</Pattern>
        </layout>
    </appender>
    
	<logger level="debug" name="com.tulaya.demo">
        <appender-ref ref="Console" />
    </logger>
    
</configuration>